/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/* --------------------FONTS---------------------- */

@font-face {
    font-family: 'learning_curve_proregular';
    src: url('../fonts/LearningCurve_OT-webfont.eot');
    src: url('../fonts/LearningCurve_OT-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LearningCurve_OT-webfont.woff') format('woff'),
         url('../fonts/LearningCurve_OT-webfont.ttf') format('truetype'),
         url('../fonts/LearningCurve_OT-webfont.svg#learning_curve_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BEBAS/BebasNeue Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BEBAS/BebasNeue Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BEBAS/BebasNeue Thin.ttf");
    font-weight: 100;
}
@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BEBAS/BebasNeue Book.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BEBAS/BebasNeue Light.ttf");
    font-weight: 200;
}

body {
    color: #1d1d1d;
    height: 100%;
    width:100%;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    background-color: #f0f0f0;
}

.row{
    margin: 0 !important;
}

.center{
    text-align: center;
}

/*Responsive Text*/
@media all and (min-width: 1400px) { /* screen size until 1200px */
    body {
        font-size: 1.8em; /* 1.5x default size */
        }
    }
@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.5em; /* 1.5x default size */
        }
    }
@media all and (max-width: 1100px) { /* screen size until 1200px */
    body {
        font-size: 1.35em; /* 1.35x default size */
        }
    }
@media all and (max-width: 992px) { /* screen size until 1000px */
    body {
        font-size: 1.2em; /* 1.2x default size */
        }
    .vertical-align {
      display: inline !important;
      flex-direction: none !important;
    }
    .coverpage{
        height: auto !important;
        min-height: 100% !important;
    }
}
@media all and (max-width: 767px) { /* screen size until 767px ---where cols go to xs */
    body {
        font-size: 1.0em; /* default size */
        }
}
@media all and (max-width: 500px) { /* screen size until 500px */
    body {
        font-size: 1.0em; /* 0.8x default size */
        }
}
    
/*Image Crawl sizing*/

html{height:100%;}

/*COVER PAGE STUFF ----------------------------------------------------->*/

.row{
    height: 100%;
}

.coverpage{
    padding: 0;
    width: 100%;
    height: 100%; 
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional, to align inner items 
                              horizontally inside the column */
}

.imageslide, .coverpage {
    background-color: #1d1d1d;
}

/*CAROUSEL STUFF ------------------------------------------------------>*/

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
  CSS from:       http://codepen.io/transportedman/pen/NPWRGq
  and:            http://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide
  Inspired from:  http://codepen.io/Rowno/pen/Afykb 
*/
#myCarousel{
    padding: 30px 15px 45px 15px;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel img{
    height:auto;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

/*TITLE STUFF --------------------------------------------------------->*/

.covertext{
    padding: 50px 0;
}

#top{
    height: 100%;
    margin-top: 75px;
}

.caption{
    white-space: nowrap;
    padding-top: 10px;
    width:100%;
    text-align: center;
    font-family: 'Roboto Condensed', cursive;
    font-weight: 300;
    font-size: 1.2em;
    color: #fff;
}

.title {
    text-align: center;
    color: white;
    font-size: 6em;
    font-family: "Bebas Neue";
    font-weight: 200;
    line-height: .8em;
}

#titlescroll{
    height: 50px;
    opacity: 1;
    transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -webkit-transition: opacity .1s ease-in-out;
}

#titlescroll:hover{
    opacity: .6;
    transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -webkit-transition: opacity .1s ease-in-out;
}

.scroll-down{
    margin-top: 25px;
    width: 100%;
    text-align: center;
}

/*NAVBAR STUFF ------------------------------------------------------->*/

.navbar{
    font-size: 2em;
    font-family: "Bebas Neue";
    font-weight: 300;
    background-color: #c6c6c6;
    border: none;
    border-radius: 0;
}

#navbar-wrapper.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1000;
}

.navbar a{
    color: white;
}

/*CONTENT STUFF ------------------------------------------------------>*/
.spacer{
    height: 200px;
}

.content{
    width: 100%;
    min-height: 100%;
    padding: 250px 12.5%;
/*    text-align: center;*/
    overflow: hidden;
}

.contenttitle{
    font-size: 5em;
    font-family: "Bebas Neue";
    font-weight: 700;
    line-height: .75em;
    margin-bottom: 15px;
    color: #00baff;
}

/*WORK STUFF --------------------------------------------------------->*/

.visualwork img{
    width: 100%;
}

.contenttext{
    color: #1d1d1d;
}

.work-caption:not(.current) {
    display: none;
}

/*TEAM STUFF --------------------------------------------------------->*/
.teammember{
    text-align: center;
}

.allmembers{
    margin-top: 50px;
}

.teamimage{
    cursor: pointer;
    margin: 15px;
    border-radius: 50%;
    background: -webkit-radial-gradient(#1d1d1d, #c6c6c6); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#1d1d1d, #c6c6c6); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#1d1d1d, #c6c6c6); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#1d1d1d, #c6c6c6); /* Standard syntax */
}

.teamimage:hover img{
    opacity: .6;
    transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -webkit-transition: opacity .1s ease-in-out;
}

.teamimage img{
    opacity: 1;
    transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -webkit-transition: opacity .1s ease-in-out;
}

.teamname{
    display:none;
    color: white;
    position: absolute;
    font-size: 1.3em;
    height: 100%;
    margin-top: -43%;
    width: calc(100% - 60px);
    /* Firefox */
    width: -moz-calc(100% - 60px);
    /* WebKit */
    width: -webkit-calc(100% - 60px);
    /* Opera */
    width: -o-calc(100% - 60px);
    /* Standard */
    width: calc(100% - 60px);
}

.teamdescription{
    display: none;
    color: white;
    position: absolute;
    padding: 10px;
    margin: 10px 15px 0 15px;
    background: #00baff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: calc(100% - 60px);
    /* Firefox */
    width: -moz-calc(100% - 60px);
    /* WebKit */
    width: -webkit-calc(100% - 60px);
    /* Opera */
    width: -o-calc(100% - 60px);
    /* Standard */
    width: calc(100% - 60px);
}

.teamdescription:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 20px 20px;
    border-color: #00baff transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -20px;
    top: -20px;
    left: 50%;
}

.team h2{
    font-family: "Bebas Neue";
    font-weight: 400;
    font-size: 2.5em;
}

/*CONTACT STUFF ------------------------------------------------------>*/

#opencontact{
    margin: 10px auto;
}

.middle-container{
    width: 100%;
    text-align: center;
    margin-top: 20px;    
}

.message-container{
    padding-top: 15px;
}

.contact p {
    margin-top: 40px;
}

#contact-container a{
    color: #00baff;
}

.form-control{
    font-size: 1em;
}

.prettybutton{
    background-color: #00baff;
    color: white;
    border-style: none;
    padding: 5px 10px;
    font-size: 1em;
    border-radius: 4px;
}

.prettybutton:hover{
    background-color: #52d7ff;
}

.contact-send{
    margin-top: 30px;
    margin-bottom: 50px;
}