/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/* --------------------FONTS---------------------- */

@font-face {
    font-family: 'learning_curve_proregular';
    src: url('../fonts/LearningCurve_OT-webfont.eot');
    src: url('../fonts/LearningCurve_OT-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LearningCurve_OT-webfont.woff') format('woff'),
         url('../fonts/LearningCurve_OT-webfont.ttf') format('truetype'),
         url('../fonts/LearningCurve_OT-webfont.svg#learning_curve_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BEBAS/BebasNeue Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BEBAS/BebasNeue Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BEBAS/BebasNeue Thin.ttf");
    font-weight: 100;
}
@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BEBAS/BebasNeue Book.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BEBAS/BebasNeue Light.ttf");
    font-weight: 200;
}

body {
    color: #5a5a5a;
    height: 100%;
    width:100%;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    background-color: #ebebeb;
}

/*Responsive Text*/

@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.3em; /* 1.5x default size */
        }
    }
@media all and (max-width: 1100px) { /* screen size until 1200px */
    body {
        font-size: 1.2em; /* 1.35x default size */
        }
    }
@media all and (max-width: 992px) { /* screen size until 1000px */
    body {
        font-size: 1.1em; /* 1.2x default size */
        }
    .vertical-align {
      display: inline !important;
      flex-direction: none !important;
    }
    .coverpage{
        height: auto !important;
        min-height: 100% !important;
    }
}
@media all and (max-width: 767px) { /* screen size until 767px ---where cols go to xs */
    body {
        font-size: 1.0em; /* default size */
        }
}
@media all and (max-width: 500px) { /* screen size until 500px */
    body {
        font-size: 1.0em; /* 0.8x default size */
        }
}
    
/*Image Crawl sizing*/

html{height:100%;}

/*COVER PAGE STUFF ----------------------------------------------------->*/

.row{
    height: 100%;
}

.coverpage{
    background-color: black;
    padding: 0;
    width: 100%;
    height: 100%; 
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional, to align inner items 
                              horizontally inside the column */
}

.imageslide {
    background-color: black;
}

/*CAROUSEL STUFF ------------------------------------------------------>*/

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
  CSS from:       http://codepen.io/transportedman/pen/NPWRGq
  and:            http://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide
  Inspired from:  http://codepen.io/Rowno/pen/Afykb 
*/
#myCarousel{
    padding: 15px 15px 30px 15px;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

/*TITLE STUFF --------------------------------------------------------->*/

.covertext{
    padding: 50px 0;
}

#top{
    height: 100%;
}

.caption{
    white-space: nowrap;
    padding-top: 10px;
    width:100%;
    text-align: center;
    font-family: 'Roboto Condensed', cursive;
    font-weight: 300;
    font-size: 1.41em;
    color: #fff;
}

.title {
/*    width: 100%;*/
    text-align: center;
    color: white;
    font-size: 7em;
    font-family: "Bebas Neue";
    font-weight: 200;
    text-shadow: 0px 0px 4px #000000;
    line-height: .8em;
}

#titlescroll{
    height: 50px;
}

.scroll-down{
    margin-top: 25px;
    width: 100%;
    text-align: center;
}

/*NAVBAR STUFF ------------------------------------------------------->*/



/*FORM STUFF --------------------------------------------------------->*/

#opencontact{
    margin: 10px auto;
}

.middle-container{
    width: 100%;
    text-align: center;
    margin-top: 20px;    
}

.contact-form{
    width: 300px;
    margin: 10px auto;
}

.message-container{
    padding-top: 15px;
}

p {
    color: #fff;
    margin-top: 40px;
}

#contact-container a{
    color: #ffeb00;
}

.form-control{
    font-size: 1em;
}

.prettybutton{
    background-color: #ebebeb;
    color: #5a5a5a;
    border-style: none;
    padding: 5px 10px;
    font-size: 1em;
    border-radius: 4px;
}

.prettybutton:hover{
    background-color: #e2e2e2;
}

.contact-send{
    margin-top: 30px;
    margin-bottom: 50px;
}
    
/*FOOTER STUFF --------------------------------------------------------->*/

footer {
    height: 70px;
    width: 100%;
    display: table;
    margin: auto;
    background-color: rgba(54, 160, 152, 0.93);
    color: #fff;
    text-transform: lowercase;
    font-size: 1.5em;
    font-family: 'learning_curve_proregular', cursive;
}

footer .content-block {
    padding-top: 15px;
    text-align: left;
}